<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100730968138-imaa0j81qiv15svpbhcqulafep3okq6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100730968138-imaa0j81qiv15svpbhcqulafep3okq6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100730968138-epvak7tgi781q1i9orpjb8jef11l8tsi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4A1jvxXI1FQODShlvNw7WROj52xvbw30</string>
	<key>GCM_SENDER_ID</key>
	<string>100730968138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.appelement.appelement</string>
	<key>PROJECT_ID</key>
	<string>autoelement-9c85b</string>
	<key>STORAGE_BUCKET</key>
	<string>autoelement-9c85b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100730968138:ios:2ab8db4218851b69</string>
	<key>DATABASE_URL</key>
	<string>https://autoelement-9c85b.firebaseio.com</string>
</dict>
</plist>