<ion-header>
  <ion-toolbar>
    <ion-title>{{'Subscriptions'|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list lines="full">
    <ion-item *ngFor="let category of categoryList; trackBy:trackByFn" detail="true" [routerLink]="['/subscriptions',category.name]">
      <ion-label>{{category.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
