.container-photo {
  text-align: center;
  margin: 20px 0;
}

.loading {
  opacity: 0.3;
}

ion-spinner {
  position: relative;
  bottom: 70px;
  left: 35px;
}

.imgFalse {
  height: 100px;
}

.imgTrue {
  height: 100px;
}


